* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .background {
    background-color: #1F2937;
    height: 100%;
    overflow: hidden;
  }
  
  .wrapper {
    width: 550px;
    margin: 0px auto;
    text-align: left;
  }
  
  .content-1 {
    margin: 100px 0 0;
  }
  
  h1 {
    color: white;  
    margin: 0 0 10px;
    font-size: 56px;
    font-family: karla;
    font-weight: 800;
  }
  
  span {
    color: #10B981;
    display: block;
  }
  
  h3 {
    color: white;
    margin: 0 0 50px;
    font-weight: 400;
  }
  
  .sep {
    border: 1px solid #2F3E53;
    margin: 20px 0;
  }
  
  button {
    font-weight: 500;
    font-size: 16px;
    width: 223px;
    height: 42px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .PWGenerator {
    background-color: #10B981;
    color: white;
  }
  
  .PWGenerator:hover {
    background-color: #029c80;
  }

  .PWGenerator:active {
    font-weight: 700;
    transition: font-weight .1s ease-in-out;
  }

  
  .content-2 {
    margin: 0 0 50px;
  }
  
  .passwords {
    float: left;
    margin: 0 25px 30px 0;
    background-color: #273549;
    color: #55F991;
  }